@import "tailwindcss";

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    rgb(var(--accent)),
    rgb(var(--accent-light)),
    white 60%
  );
}

html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  color: #fff;
}

body {
  @apply grid place-content-center p-20;
}

body > div {
  @apply container;
}
