---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const products = await getCollection('products');
---

<Layout title="Lista de productos">
  <h1 class="text-center text-7xl font-extrabold">
    Listado de <dev class="block">Productos</dev>
  </h1>

  <section aria-label="Lista de productos">
    <div class="px-4 mx-auto max-w-screen-xl">
      <div class="grid gap-6 md:grid-cols-2">
        {
          products.map((product) => {
            return (
              <Card product={product} />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
